
.reviews-container {

min-height: 100vh;
    color: #fff; 
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .reviews-container .p{
    margin-bottom: 50px;
    width: 70%;
    text-align: center;

  }
  
  .title {
    font-size: 2.5rem; 
  }
  
  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 

  }
  
  .review-item {
    background-color: #222; 
    border-radius: 10px; 
   display: flex;
   align-items: start;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   padding: 10px;
  }

  .review-item .img{
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 10px;
  }
  .review-item .img img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  
  .rating {
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .reviews-grid {
      grid-template-columns: 1fr; /
    }
  }
  